<a href="https://colab.research.google.com/github/Fatimatuz-zahra/KKA-X-Semester-1-f-zahra/blob/main/1_Fungsi_print_Zahra_X_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

nama : Fatimatuz Zahra

kelas : X.1

absen : 10

#Menampilkan Nilai Variabel

In [ ]:
print ("Fatimatuz zahra")

Fatimatuz zahra

#Menampilkan Teks Bebas

In [ ]:
nama_idola = "jaemin"
print(nama_idola)

jaemin

In [1]:
usia = 24
print(usia)

24

In [ ]:
nama_saudara = "ayu wahyuni"
print(nama_saudara)

ayu wahyuni

In [ ]:
jumlah_saudara = 1
print(jumlah_saudara)

1

#Menampilkan Nilai Variabel dan String

In [ ]:
print ("Nama idola saya adalah",nama_idola,".Usianya adalah",usia,"tahun.")

Nama idola saya adalah jaemin .Usianya adalah 15 tahun.

In [ ]:
print ("Nama idola saya adalah "+nama_idola+". Usianya adalah "+str(usia)+"tahun.")

Nama idola saya adalah jaemin. Usianya adalah 15tahun.

#Escape String

In [3]:
print("Nama: Fatimatuz zahra")
print("Kelas: X.1")
print("No. Absen: 10")

Nama: Fatimatuz zahra
Kelas: X.1
No. Absen: 10

In [2]:
print("Nama: Fatimatuz zahra\nKelas: X.1\nNo. Absen: 10")

Nama: Fatimatuz zahra
Kelas: X.1
No. Absen: 10

In [4]:
print("""Nama\t\t: Fatimatuz zahra "
Kelas\t\t: X.1
No. Absen\t: 10""")

Nama		: Fatimatuz zahra "
Kelas		: X.1
No. Absen	: 10

In [ ]:
print(f"Nama idola saya adalah {nama_idola}. Usianya adalah {usia} tahun.")

Nama idola saya adalah jaemin. Usianya adalah 15 tahun.

In [ ]:
print ("Halo Nama Saya Habib Jafar")

Halo Nama Saya Habib Jafar

In [ ]:
print ('Halo Nama Saya Habib Jafar')

Halo Nama Saya Habib Jafar

In [ ]:
print ('Halo Nama Saya Habib Ja\'far')

Halo Nama Saya Habib Ja'far

In [ ]:
print ("Halo Nama Saya Habib Ja'far")

Halo Nama Saya Habib Ja'far

In [ ]:
print ("Bu Sinta Berkata, \"Tolong Fokus ke TV Sejenak")

Bu Sinta Berkata, "Tolong Fokus ke TV Sejenak

In [ ]:
print ("Silahkan simpan file tugas KKA di folder Local disk D:\\MAN Demak\\KKA\\Tugas")

Silahkan simpan file tugas KKA di folder Local disk D:\MAN Demak\KKA\Tugas

In [ ]:
print ('Bu Sinta Berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\\MAN Demak\\Jadwal Piket."\n\nSenin\tSelas\tRabu\nJielo\tHasbi\tNaufal\t\nAzam\tA\'inun\tNurul\t')

Bu Sinta Berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\MAN Demak\Jadwal Piket."

Senin	Selas	Rabu
Jielo	Hasbi	Naufal
Azam	A'inun	Nurul

#Fungsi Parameter

In [ ]:
nama_siswa_1 = "Dias"
nama_siswa_2 = "Disa"

print (nama_siswa_1, end=" ")
print (nama_siswa_2)

Dias Disa

In [ ]:
print (nama_siswa_1, nama_siswa_2)

Dias Disa

In [ ]:
print(nama_siswa_1, nama_siswa_2, sep= "-")

Dias-Disa

In [ ]:
nama_siswa_3 = "kinan"
nama_siswa_4 = "Azka"
nama_siswa_5 = "Naufal"
nama_siswa_6 = "Ridho"

print (nama_siswa_6,nama_siswa_3,nama_siswa_4,nama_siswa_4, sep="/")

Ridho/kinan/Azka/Azka

In [ ]:

print(nama_siswa_4, end="*")
print(nama_siswa_4, end="*")
print(nama_siswa_5, end="*")
print(nama_siswa_3, end="*")
print(nama_siswa_6, end="")

Azka*Azka*Naufal*kinan*Ridho